/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --color_white: oklch(100% 0 263.28 / 100%);
  --color_foreground_neutral_faded: oklch(72.91% 0.03 261.46 / 100%);
  --color_foreground_placeholder: oklch(61.9% 0.023 264.4 / 100%);
  --color_background_neutral_highlighted: oklch(90.85% 0.044 259.96 / 8%);
  --color_background_page_faded: oklch(18.94% 0.051 266.2 / 100%);
  --color_background_critical: oklch(59.23% 0.216 26.96 / 100%);
  --color_background_positive: oklch(55.28% 0.13 155.6 / 100%);
  --color_background_blur: oklch(100% 0 263.28 / 95%);
  --color_background_blur_neutral: oklch(97% 0.003 264.51 / 95%);
  --color_background_blur_neutral_highlighted: oklch(94.62% 0.004 271.22 / 95%);
  --color_border_neutral_faded: oklch(27.7% 0.036 272.53 / 100%);
  --color_border_critical_faded: oklch(90.59% 0.043 12.49 / 100%);
  --color_border_positive_faded: oklch(91.64% 0.047 153.08 / 100%);
  --color_border_upgrade_faded: oklch(90.73% 0.043 297.29 / 100%);
  --color_border_disabled: oklch(91.28% 0.011 269.5 / 100%);
  --color_border_focus: oklch(64.7% 0.189 260.59 / 100%);
  --color_decorative_cyan_foreground: oklch(51.97% 0.094 223.15 / 100%);
  --color_decorative_cyan_background: oklch(96.22% 0.039 202.49 / 100%);
  --color_decorative_cyan_border: oklch(91.94% 0.055 201.97 / 100%);
  --color_decorative_fuchsia_foreground: oklch(57.26% 0.248 322.36 / 100%);
  --color_decorative_fuchsia_background: oklch(96.88% 0.024 319.28 / 100%);
  --color_decorative_fuchsia_border: oklch(92.38% 0.048 320.53 / 100%);
  --color_decorative_green_border: oklch(93.52% 0.069 167.08 / 100%);
  --color_decorative_grey_foreground: oklch(44.69% 0.038 275.17 / 100%);
  --color_decorative_grey_background: oklch(95.17% 0.006 264.52 / 100%);
  --color_decorative_grey_border: oklch(91.86% 0.01 267.33 / 100%);
  --color_decorative_light_grey_foreground: oklch(55.15% 0.045 270.95 / 100%);
  --color_decorative_light_grey_background: oklch(97.59% 0.003 264.51 / 100%);
  --color_decorative_light_grey_border: oklch(95.17% 0.006 264.52 / 100%);
  --color_decorative_orange_foreground: oklch(55.34% 0.174 38.39 / 100%);
  --color_decorative_orange_background: oklch(96.68% 0.026 74.74 / 100%);
  --color_decorative_orange_border: oklch(93.71% 0.042 75.42 / 100%);
  --color_decorative_pink_foreground: oklch(57.05% 0.212 0.15 / 100%);
  --color_decorative_pink_background: oklch(96.73% 0.017 343.33 / 100%);
  --color_decorative_purple_border: oklch(93.25% 0.037 297.47 / 100%);
  --color_decorative_pink_border: oklch(94.51% 0.035 343.1 / 100%);
  --color_decorative_red_border: oklch(95.19% 0.024 14.25 / 100%);
  --color_decorative_teal_foreground: oklch(52.3% 0.088 185.67 / 100%);
  --color_decorative_teal_background: oklch(97.72% 0.031 179.65 / 100%);
  --color_decorative_teal_border: oklch(92.99% 0.048 180.27 / 100%);
  --color_decorative_yellow_foreground: oklch(55.38% 0.121 66.44 / 100%);
  --color_decorative_yellow_background: oklch(98.98% 0.029 102.73 / 100%);
  --color_decorative_yellow_border: oklch(97.29% 0.069 103.22 / 100%);
  --color_primary_primary_200: oklch(96.7% 0.016 253.95 / 100%);
  --color_primary_primary_400: oklch(90.85% 0.044 259.96 / 100%);
  --color_primary_primary_500: oklch(77.05% 0.117 262.44 / 100%);
  --color_primary_primary_600: oklch(55.65% 0.243 261.96 / 100%);
  --color_primary_primary_700: oklch(49.21% 0.232 262.24 / 100%);
  --color_primary_primary_800: oklch(47.09% 0.195 261.8 / 100%);
  --color_red_red_100: oklch(96.86% 0.014 11.69 / 100%);
  --color_red_red_600: oklch(53.44% 0.211 26.51 / 100%);
  --color_neutral_neutral_100_opaque: oklch(22.08% 0.035 268.64 / 2%);
  --color_neutral_neutral_200_opaque: oklch(31.67% 0.104 265.54 / 4%);
  --color_neutral_neutral_400: oklch(52.22% 0.04 268.89 / 100%);
  --color_neutral_neutral_500: oklch(84.79% 0.021 267.25 / 100%);
  --color_neutral_neutral_900: oklch(20.52% 0.017 268.83 / 100%);
  --color_green_green_100: oklch(98.09% 0.022 168.98 / 100%);
  --color_green_green_600: oklch(48.96% 0.151 145.15 / 100%);
  --color_purple_purple_100: oklch(96.66% 0.015 298.39 / 100%);
  --color_purple_purple_600: oklch(56.8% 0.22 296.23 / 100%);
  --color_purple_purple_700: oklch(46.65% 0.212 296.4 / 100%);
  --color_orange_orange_100: oklch(98.03% 0.018 86.16 / 100%);
  --color_orange_orange_200: oklch(93.16% 0.048 77.25 / 100%);
  --color_orange_orange_500: oklch(58.42% 0.175 42.36 / 100%);
  --color_orange_orange_600: oklch(52.55% 0.165 38.41 / 100%);
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --color_00_01: oklch(100% 0 263.28 / 100%);
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --color_00_02: oklch(46.4% 0.132 23.8 / 100%);
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --color_00_03: oklch(70.27% 0.137 111.86 / 100%);
  --color_foreground_primary: var(--color_primary_primary_500);
  --color_foreground_neutral: var(--color_white);
  --color_foreground_critical: var(--color_red_red_600);
  --color_foreground_warning: var(--color_orange_orange_600);
  --color_foreground_positive: var(--color_green_green_600);
  --color_foreground_upgrade: var(--color_purple_purple_600);
  --color_foreground_disabled: oklch(84.79% 0.021 267.25 / 100%);
  --color_background_elevation_base: var(--color_neutral_neutral_900);
  --color_background_elevation_raised: var(--color_neutral_neutral_900);
  --color_background_elevation_overlay: var(--color_neutral_neutral_900);
  --color_background_neutral: oklch(90.85% 0.044 259.96 / 6%);
  --color_background_neutral_faded: oklch(90.85% 0.044 259.96 / 4%);
  --color_background_page: oklch(15.17% 0.044 265.68 / 100%);
  --color_background_primary: var(--color_primary_primary_800);
  --color_background_primary_highlighted: var(--color_primary_primary_700);
  --color_background_primary_faded: oklch(49.21% 0.232 262.24 / 100%);
  --color_background_critical_highlighted: var(--color_red_red_600);
  --color_background_critical_faded: var(--color_red_red_100);
  --color_background_warning: var(--color_orange_orange_500);
  --color_background_warning_highlighted: var(--color_orange_orange_600);
  --color_background_warning_faded: var(--color_orange_orange_100);
  --color_background_positive_highlighted: var(--color_green_green_600);
  --color_background_positive_faded: var(--color_green_green_100);
  --color_background_upgrade: var(--color_purple_purple_600);
  --color_background_upgrade_highlighted: var(--color_purple_purple_700);
  --color_background_upgrade_faded: oklch(96.66% 0.015 298.39 / 100%);
  --color_background_disabled: oklch(90.85% 0.044 259.96 / 7%);
  --color_background_disabled_faded: var(--color_neutral_neutral_100_opaque);
  --color_background_focus_highlight: var(--color_primary_primary_400);
  --color_border_neutral: var(--color_neutral_neutral_500);
  --color_border_primary: var(--color_primary_primary_700);
  --color_border_primary_faded: var(--color_primary_primary_400);
  --color_border_critical: var(--color_red_red_600);
  --color_border_warning: var(--color_orange_orange_600);
  --color_border_warning_faded: var(--color_orange_orange_200);
  --color_border_positive: var(--color_green_green_600);
  --color_border_upgrade: var(--color_purple_purple_700);
  --color_border_focus_faded: var(--color_primary_primary_400);
  --color_on_background_neutral: var(--color_white);
  --color_persistent_black: var(--color_neutral_neutral_900);
  --color_decorative_blue_foreground: var(--color_primary_primary_600);
  --color_decorative_blue_background: var(--color_primary_primary_200);
  --color_decorative_blue_border: var(--color_primary_primary_400);
  --color_decorative_green_foreground: var(--color_green_green_600);
  --color_decorative_green_background: var(--color_green_green_100);
  --color_on_background_primary: var(--color_white);
  --color_on_background_critical: var(--color_white);
  --color_on_background_warning: var(--color_white);
  --color_on_background_positive: var(--color_white);
  --color_on_background_upgrade: var(--color_white);
  --color_persistent_white: var(--color_white);
  --color_decorative_purple_foreground: var(--color_purple_purple_600);
  --color_decorative_purple_background: var(--color_purple_purple_100);
  --color_decorative_red_foreground: var(--color_red_red_600);
  --color_decorative_red_background: var(--color_red_red_100);
}